<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gigigo.demofut52" >

    <permission
        android:name="com.example.gigigo.demofut52.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.azteca.live.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/DesignDef" >


        <activity
            android:name=".Splash_Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".activities.Activity_Home"
            android:label="@string/title_activity_nav_drawer"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".activities.Configuration_Team"
            android:label="@string/title_activity_configuration"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>


        <activity
            android:name=".activities.Activity_Detail"
            android:label="@string/title_activity_activity__detail"
            android:screenOrientation="portrait"
            >
        </activity>

        <activity android:name=".activities.GalleryPagerActivity"/>



        <receiver
            android:name=".GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.gigigo.demofut52" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />
        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />




        <!--  W I D G E T   -->

        <receiver android:name=".widget.WidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <!-- Widget service -->
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />


        <!-- Termina W I D G E T   -->



    </application>

</manifest>
